// Base Styles
$base-font-size					: 14px;
$base-font-weight				: 400;

// Sizes
$header-height					: 54px;

// Fonts
$font-family-roboto				: 'Roboto', sans-serif;
$font-family-montserrat			: 'Montserrat', sans-serif;
$font-family-poppins			: 'Poppins', sans-serif;

// Main Palette
$color-text-default				: #262628;
$color-white					: #FFFFFF;
