.menu {
	@function em($pixels) { @return em-closure($pixels, 18.75) }

	cursor: pointer;
	display: flex;
	align-items: center;

	&__title {
		@include font(
			$family: $font-family-poppins,
			$size: em(11),
			$weight: 500,
			$line-height: em(18),
		);

		letter-spacing: em(2.75);
		text-transform: uppercase;
	}

	&__icon {
		font-size: em(9);
		margin-left: em(15);
		margin-top: em(6);
	}

	&__collapse {
		$layout-width: em(375);

		cursor: auto;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: $layout-width;
		background: $color-white;
		margin: 0 auto;
		z-index: -1;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		overflow: scroll;
	}

	&__item {
		margin: em(12) 0;
	}

	&__link {
		display: inline-block;
		color: $color-text-default;
		font-family: $font-family-montserrat;
		font-weight: 800;
		font-size: em(18);
		line-height: em(40);
		text-transform: uppercase;
	}
}
