.button-add {
	//Breakpoint: 375 - fluid-px: 17.25
	@function em($pixels) { @return em-closure($pixels, 17.25) }

	$touch-area: 10;

	margin: em(-$touch-area) em(-$touch-area);
	padding: em($touch-area) em($touch-area);

	display: inline-flex;
	align-items: center;

	& > *:first-child {
		margin: 0;
	}

	&__title {
		@include font(
			$family: $font-family-montserrat,
			$weight: 700,
			$size: em(14),
			$line-height: normal,
		);
	}

	&__icon {
		$icon-size: 22;

		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: em($icon-size);
		height: em($icon-size);
		margin-left: em(7);
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $color-primary;
			border-radius: em(99);
			z-index: -1;
		}

		& i {
			font-size: em($icon-size / 2.35);
		}
	}
}
