.button-cross {
	//Breakpoint: 375 - fluid-px: 17.25
	@function em($pixels) { @return em-closure($pixels, 17.25) }

	$touch-area: 10;

	margin: em(-$touch-area) em(-$touch-area);
	padding: em($touch-area) em($touch-area);

	&__icon {
		$icon-size: 20;

		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: em($icon-size);
		height: em($icon-size);
		z-index: 1;

		i {
			font-size: em($icon-size);
		}
	}
}
