<div data-fluid-typography class="product-card">
    <div class="product-card__inner">
        <div class="product-card__bottom">
            <div class="product-card__bottom-content-grid content-grid">
                <div class="content-grid__row content-grid__row--top">
                    <div class="content-grid__column content-grid__column--left w-75">
                        <h3 class="product-title">Такос с томленой телятиной, томатной ...</h3>
                    </div>
                    <div class="content-grid__column content-grid__column--right my-auto">
                        <button class="button-info">
                            <span class="button-info__icon">
                                <i class="i-info"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="content-grid__row content-grid__row--bottom">
                    <div class="content-grid__column content-grid__column--left">
                        <button class="button-add">
                            <span class="button-add__title">Купити</span>
                            <span class="button-add__icon">
                                <i class="i-plus"></i>
                            </span>
                        </button>
                    </div>
                    <div class="content-grid__column content-grid__column--right text-right">
                        <div class="price">
                            <span class="price__old">1 642 ₴</span>
                            <span class="price__sale">1 542 ₴</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card__bottom-fade"></div>
        </div>
    </div>
    <div data-responsive-image class="product-card__image">
        <img src="../../../assets/img/product.png" alt="product-image">
    </div>
</div>
