<div data-fluid-typography class="product-card">
    <div class="product-card__inner">
        <div class="product-card__top-content">
            <div class="product-card__top-content-inner">
                <div class="product-card__top-content-group">
                    <div class="product-card__top-content-group-caption">
                        Такос с томленой телятиной, томатной сальсой и соусом гуакомоле
                    </div>
                    <div class="product-card__top-content-group-body">
                        Такос с томленой телятиной, томатной сальсой, соусом гуакомоле и салатом Айсберг
                    </div>
                </div>
                <div class="product-card__top-content-group">
                    <div class="product-card__top-content-group-caption">
                        Гостра:
                    </div>
                    <div class="product-card__top-content-group-body">
                        Не гостра
                    </div>
                </div>
                <div class="product-card__top-content-group">
                    <div class="product-card__top-content-group-caption">
                        Калорії
                    </div>
                    <div class="product-card__top-content-group-body">
                        100г / 356 кКл
                    </div>
                </div>
            </div>
            <div class="product-card__top-content-close">
                <button class="button-cross">
                    <span class="button-cross__icon">
                        <i class="i-close-outline"></i>
                    </span>
                </button>
            </div>
            <div class="product-card__top-content-fade"></div>
        </div>
        <div class="product-card__aside-content card-aside-content">
            <span class="card-aside-content__param">100 г</span>
            <span class="card-aside-content__brand">NEW_CUP_</span>
        </div>
        <div class="product-card__bottom-content">
            <div class="product-card__bottom-content-grid content-grid">
                <div class="content-grid__row content-grid__row--top">
                    <div class="content-grid__column content-grid__column--left w-75">
                        <h3 class="product-title">Такос с томленой телятиной, томатной ...</h3>
                    </div>
                    <div class="content-grid__column content-grid__column--right my-auto">
                        <button class="button-info">
                            <span class="button-info__icon">
                                <i class="i-info"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="content-grid__row content-grid__row--bottom">
                    <div class="content-grid__column content-grid__column--left">
                        <button class="button-add">
                            <span class="button-add__title">Купити</span>
                            <span class="button-add__icon">
                                <i class="i-plus"></i>
                            </span>
                        </button>
                    </div>
                    <div class="content-grid__column content-grid__column--right text-right">
                        <div class="price">
                            <span class="price__old">1 642 ₴</span>
                            <span class="price__sale">1 542 ₴</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card__bottom-content-fade"></div>
        </div>
    </div>
    <div data-responsive-image class="product-card__image">
        <img src="../../../assets/img/product.png" alt="product-image">
    </div>
    <div class="product-card__border">
        <span></span><span></span>
    </div>
</div>
