{{#[helpers/layout] htmlWebpackPlugin}}

<h1 class="caption">Навигация</h1>
<ul>
    <li><a href="./products.html">Products</a></li>
    <li><a href="./cart.html">Shopping Cart</a></li>
    <li><a href="./order.html">Make an Order</a></li>
    <li><a href="#">Order was placed</a></li>
</ul>

{{/[helpers/layout]}}
