{{#[helpers/layout] htmlWebpackPlugin}}

    <div class="page-article">
        <h1 class="page-article__title">Свіже м'ясо та субпродукти</h1>

        <div class="filter-head">
            <button class="filter-head__icon">
                <i class="i-filter"></i>
            </button>
        </div>
    </div>

    <div class="products">
        <div class="products__row">
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
        </div>
    </div>
{{/[helpers/layout]}}
