{{#[helpers/layout] htmlWebpackPlugin}}

    <h1 class="caption">Свіже м'ясо та субпродукти</h1>

    <div class="products">
        <div class="products__row">
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
            <div class="products__column">
                {{> components/pieces/product-card.hbs}}
            </div>
        </div>
    </div>
{{/[helpers/layout]}}
