.content-grid {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__row {
		display: flex;

		&--top {
			margin-bottom: auto;
			align-items: flex-start;
		}

		&--bottom {
			margin-top: auto;
			align-items: flex-end;
		}
	}

	&__column {
		display: flex;

		&--left {
			margin-right: auto;
			justify-content: flex-start;
		}

		&--right {
			margin-left: auto;
			justify-content: flex-end;
		}
	}
}
