// Style Utils
@import "utils/mixins";
@import "utils/variables";
@import "utils/functions";
@import "utils/fonts";
@import "utils/reset";

// Style Modules
@import "components/navigation/header";

html, body {
	height: 100%;
}

body {
	color: $color-text-default;

	@include font(
		$family: $font-family-roboto,
		$size: $base-font-size,
		$weight: $base-font-weight,
		$line-height: 1,
	)
}

.mobile-layout {
	// 18.75 - is the starting fluid-typography of the layout
	@function em($pixels) { @return em-closure($pixels, 18.75) }

	$layout-width: 375px;
	$layout-spacing: 0 em(15);

	position: relative;
	margin: 0 auto;
	padding: $layout-spacing;
	max-width: $layout-width;
	min-height: 100%;
}

.caption {
	@include font(
		$family: $font-family-montserrat,
		$weight: 700,
		$size: 18px,
		$line-height: 22px,
	)
}
