// Style Utils
@import "utils/mixins";
@import "utils/variables";
@import "utils/fonts";
@import "utils/reset";

html, body {
	height: 100%;
}

body {
	color: $color-text-default;

	@include font(
		$family: $font-family-roboto,
		$size: $base-font-size,
		$weight: $base-font-weight,
		$line-height: 1,
	)
}

.mobile-layout {
	$layout-width: 375px;
	$layout-spacing: 0 15px;

	position: relative;
	margin: 0 auto;
	padding: $layout-spacing;
	max-width: $layout-width;
	min-height: 100%;
}

.caption {
	@include font(
		$family: $font-family-montserrat,
		$weight: 700,
		$size: 18px,
		$line-height: 22px,
	)
}
