<header class="header">
    <div class="header__row">
        <a href="./index.html" class="header__brand brand">
            <img src="../../../assets/img/logo.svg" alt="brand">
        </a>
        <div class="header__menu menu">
            <span class="menu__title">menu</span>
            <div class="menu__icon">
                <i class="i-menu"></i>
            </div>
        </div>
    </div>
</header>
