<div class="tabbar">
    <div class="tabbar__inner">
        <div class="tabbar__title">
            Корзина
        </div>
        <button class="tabbar__button">
            <span class="tabbar__item-count">
                0
            </span>
            <i class="i-cart"></i>
        </button>
        <div class="tabbar__price">
            1 542 ₴
        </div>
    </div>
    <div class="tabbar__background">
        <img src="../../../assets/img/tabbar-background.svg" alt="tabbar-background">
    </div>
</div>
